<.flash_group flash={@flash} />
<div class="header">
  <div class="title">napkin dispenser</div>
</div>
<div id="content">
  <canvas id="canvas"></canvas>
  <div id="info"></div>
</div>
<div class="footer">
  <input type="color" class="js-color-picker  color-picker" />
  <input type="range" class="js-line-range" min="1" max="72" value="1" />
  <label class="js-range-value">1</label>Px <a id="clear" class="navbtn">clear</a>
  <a id="new" class="navbtn">new</a>
</div>
